.form {
  display: grid;
  place-items: center;
  gap: 16px;
}

.formGroup {
  padding: 8px;
}

.avatarIcon {
  font-size: 16px;
}

.medicalGrid {
  display: grid;
}

#avatar:nth-of-type(2) {
  display: none;
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (min-width: 768px) {
  .form {
    grid-template-areas:
      'img img'
      'personal personal'
      'address medical';
    align-items: center;
    justify-items: center;
    gap: 16px;
  }

  .imgArea {
    grid-area: img;
    align-self: start;
  }

  .personalArea {
    grid-area: personal;
  }

  .addressArea {
    grid-area: address;
  }

  .medicalArea {
    grid-area: medical;
  }
}

@media screen and (min-width: 992px) {
  .form {
    grid-template-areas:
      'img personal personal address'
      'img medical medical medical';
    align-items: start;
    justify-items: start;
    gap: 16px;
  }

  .imgArea {
    grid-area: img;
    align-self: start;
  }

  .personalArea {
    grid-area: personal;
  }

  .addressArea {
    grid-area: address;
  }

  .medicalArea {
    grid-area: medical;
  }

  .imgArea,
  .personalArea,
  .addressArea,
  .medicalArea {
    width: -webkit-fill-available;
  }

  .avatarIcon {
    font-size: 40px;
  }

  .medicalGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
