.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  gap: 8px;
  text-align: center;
}

.imgContainer {
  height: 80px;
  width: 80px;
}
.img {
  border: 2px solid var(--clr-dark-blue);
  object-fit: cover;
}

.h3 {
  color: var(--clr-dark-blue);
}

.h4 {
  color: var(--clr-blue);
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 992px) {
  .imgContainer {
    height: 100px;
    width: 100px;
  }
}
