/* ----------- GENERAL ----------- */
.h2,
.h4 {
  color: var(--clr-dark-blue);
}

.h3 {
  color: var(--clr-blue);
}

.h2 {
  margin-bottom: 48px;
}

/* ----------- AVATAR ----------- */
.avatarContainer {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.avatarBtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  background: var(--clr-blue);
  border: 0;
  border-radius: 25%;
  cursor: pointer;
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (min-width: 768px) {
  .avatarContainer {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 992px) {
  .avatarContainer {
    height: 300px;
    width: 300px;
  }
}
