.formContainer {
  margin: 0 auto;
  width: 90%;
  display: grid;
}

.form {
  display: grid;
}

.btnSquare {
  margin: 0 auto;
  margin-top: 16px;
}

.h1 {
  color: var(--clr-black);
  text-align: center;
}

.p {
  align-self: flex-end;
  text-align: center;
}

.link {
  font-size: 18px;
  color: var(--clr-black);
  transition: var(--transition);
}

.p .link {
  font-size: 20px;
  color: var(--clr-blue);
  font-weight: bold;
}

.link:hover {
  color: var(--clr-blue-hover);
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (min-width: 768px) {
  .formContainer {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .formContainer {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .formContainer {
    width: 60%;
  }
}
