@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ----------- GLOBAL STYLES ----------- */
:root {
  /* Fonts */
  --ff-primary: Inter, sans-serif;
  --ff-secondary: Imprima, sans-serif;

  /* Colors */
  --clr-white: #fff;
  --clr-white-hover: #dadada;
  --clr-black: #303030;
  --clr-blue: #51abf3;
  --clr-blue-hover: #4189c2;
  --clr-light-blue: #cde7fc;
  --clr-dark-blue: #324985;
  --clr-dark-blue-hover: #4362b4;
  --clr-footer-blue: #5b8db6;
  --clr-gray: rgba(0, 0, 0, 0.5);

  /* Others */
  --transition: all 0.3s linear;
  --letter-spacing: 0.25rem;
  --radius-primary: 20px;
  --radius-secondary: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-secondary);
  line-height: 1;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-secondary);
  font-size: 0.875rem;
  color: var(--clr-black);
  line-height: 1.5;
}

img:not(.logo) {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-primary);
  line-height: 1.25;
  letter-spacing: var(--spacing);
  font-weight: bold;
  transition: var(--transition);
}

h1 {
  margin-bottom: 40px;
  font-size: 2rem;
  color: var(--clr-dark-blue);
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

body {
  font-size: 1.125rem;
}

/* Home page */
.hs-section {
  padding: 64px 0;
}

/* Auth pages */
.auth-section {
  padding: 64px 0;
  height: calc(100vh - 90px);
}

/* Gradient bg for user panel */
.up-section {
  padding: 8px;
  background: var(--clr-light-blue)
    linear-gradient(
      42deg,
      rgba(254, 205, 255, 0.9864320728291317) 0%,
      rgba(205, 231, 252, 1) 48%,
      rgba(205, 231, 252, 1) 100%
    );
  min-height: calc(100vh - 90px - 175px);
}

/* White bg for user panel */
.container-bg {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  border-radius: var(--radius-primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* White bg for main user panel */
.main-container-bg {
  padding: 48px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid var(--clr-dark-blue);
}

.highlight {
  color: var(--clr-dark-blue);
  font-weight: bold;
}

/* ----------- LAYOUT ----------- */
.twoColumnGrid {
  display: grid;
}

.threeColumnGrid {
  display: grid;
}

.gridCenter {
  display: grid;
}

/* ----------- BACKGROUND ----------- */
.bg-white {
  background: var(--clr-white);
}

.bg-light-blue {
  background: var(--clr-light-blue);
}

.bg-blue {
  background: var(--clr-blue);
}

/* ----------- BUTTONS ----------- */
.btnGroup {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btnSquare {
  padding: 10px 16px;
  width: fit-content;
  font: bold 14px var(--ff-primary);
  border: 0;
  border-radius: var(--radius-secondary);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: var(--transition);
}

.btnRound {
  padding: 10px 16px;
  width: fit-content;
  font: bold 14px var(--ff-primary);
  border: 0;
  border-radius: 50rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: var(--transition);
}

.btnSimple {
  padding: 10px 16px;
  width: fit-content;
  font: bold 14px var(--ff-primary);
  color: var(--clr-dark-blue);
  background: transparent;
  border: 0;
  border-radius: var(--radius-secondary);
  transition: var(--transition);
}

.btnPrimary {
  background: var(--clr-dark-blue);
  color: var(--clr-white);
}

.btnPrimary:hover {
  background: var(--clr-dark-blue-hover);
}

.btnPrimaryLight {
  background: var(--clr-blue);
  color: var(--clr-white);
}

.btnPrimaryLight:hover {
  background: var(--clr-blue-hover);
}

.btnSecondary {
  background: var(--clr-white);
  color: var(--clr-black);
}

.btnSecondary:hover {
  background: var(--clr-white-hover);
}

.btnCircle {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* ----------- FORMS ----------- */
.form-control,
.form-select {
  font-size: 18px;
  background: none;
  border: 1px solid var(--clr-dark-blue);
}

.form-control:focus,
.form-select:focus {
  background: none;
}

.form-required {
  color: #b10e0e;
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (min-width: 768px) {
  .twoColumnGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .threeColumnGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
  .gridCenter {
    place-items: center;
  }

  .up-section {
    padding: 48px;
  }

  .container-bg {
    padding: 48px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  body {
    font-size: 1.25rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .btnSquare,
  .btnRound,
  .btnSimple {
    min-width: 100px;
    font-size: 16px;
  }
}
