.appointmentForm {
  display: grid;
  gap: 16px;
}

.h3 {
  margin-bottom: 32px;
  font-size: 24px;
  color: var(--clr-dark-blue);
  text-align: center;
}

.h4 {
  color: var(--clr-blue);
}

.p {
  margin-top: 8px;
}

.summaryContainer {
  padding: 16px 32px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  background: var(--clr-light-blue);
  border-radius: var(--radius-secondary);
}

/* ----------- SLOTS ----------- */
.slotsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: min-content;
  gap: 16px;
}

.slot {
  padding: 4px;
  height: fit-content;
  width: 70px;
  background: none;
  border-radius: 50rem;
  border: 1px solid var(--clr-dark-blue);
  color: var(--clr-dark-blue);
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
}

.slot:hover {
  background: var(--clr-light-blue);
}

input[type="radio"]:checked + .slot {
  background: var(--clr-dark-blue);
  color: var(--clr-white);
}

input[type="radio"] {
  display: none;
}

/* ----------- SELECT ----------- */
.selectField__control {
  border: 0 !important;
  background: transparent !important;
}
