/* Reset */
h4,
p {
  margin: 0;
}

/* Navbar */
.nav {
  background: var(--clr-blue);
}

/* User */
.user {
  font-family: var(--ff-primary);
  font-weight: bold;
}

.navDropdown svg {
  margin-left: 5px;
}

.navDropdown ::after {
  display: none;
}
